.debug1{
    background-color: red;
}

.debug2{
    
}

.debug3{
    background-color: #141922;
    height: calc(100vh - 80px);
}

.debug4{
    background-color: black;
}

.debugheader{
    background-color: rgb(50, 47, 255);
    height: 80px;
}

.debugarticle{
    background-color: greenyellow;
    height: 250px;
}

.debugsection{
    background-color: rgb(68, 47, 255);
    height:1100px;
}

.debugborder{
    border: 0.5px solid red;
}

.debugjumbo{
    background-color: greenyellow;
    height: 550px;
}

.debugsocial{
    height: 80px;
    background-color: blue;
}

.debugcard{
    background-color: blue;
    height: 650px;
}


.debuglist{
    background-color: rgb(255, 0, 0);
    height: 100px;
}



