@media screen and (max-width: 880px) {
    #leftbarbottom {
        margin-top: 400px;
    }
    .songgallerya {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card {
        width: 24%;
        margin-right: 1%;
        flex-shrink: 0;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 120px;
        max-height: auto;
        width: 146px;
    }
    .overlay1 {
        bottom: 55px;
    }
    .overlay2 {
        bottom: 23px;
    }
    .progress {
        justify-content: space-evenly;
        width: 350px;
        align-items: center;
    }
    footer {
        justify-content: none;
        justify-content: flex-start;
        flex-grow: 1;
    }
    #leftbtn button {
        font-size: 0.8rem;
    }
    #leftcontrol {
        width: 30%;
    }
    #centrcontrol {
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
    #rightcontrol {
        width: 30%;
        align-items: center;
    }
    #rightbtn button {
        font-size: 0.8rem;
    }
    .mini {
        width: 120px;
    }
}