
/*Generals*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
  }

  .flex{
    display: flex;
  }

  .justify{
    justify-content: center;
  }

  
/* content */

.full-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
/****Header****/

  header {
    display: flex;
    height: 60px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 0%;
    left: 0%;
}

    #logocontainer{
    margin-left: 1%;
}

    #buttonregister{
    margin-right: 1%;
}

    #logo{
    margin-right: 2%;   
}

    #logo img{
    filter: invert(100%);
    height: 35px;
    width: 35px;
}

    #logotext{
    color:white;
    font-size: 1rem;
    text-align: center;
}

  #buttonregister button{
    text-align: center;
    padding : 2% 3%;
    font-weight: bold;
    color: white;
    width: 250px;
    background-color: black;
    border:0.5px solid white;
    align-items: center;
    border-radius: 100px;
    display:flex;
    font-weight: 600;
    justify-content: center;
    min-height: 40px;
    text-align: center;
    vertical-align: middle;
}

  /****Aside****/

  aside {
    width: 15%;
    background-color: black;
}
  
  /****Main****/

main {
    /*flex-grow: 1;*/
    width: 85%;
    flex-grow: 1;
    overflow-y: auto;
}
  
  /****Footer****/

  footer {
    align-self: flex-end;
    flex-basis: 100px;
}
  