/*Generals*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.justify {
    justify-content: center;
}


/* content */

.full-page {
    display: flex;
    flex-direction: column;
}

.pagesize {
    height: calc(100vh - 80px);
}

* ul {
    list-style-type: none;
}


/****Header****/

header {
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    top: 0%;
    left: 0%;
}

#buttonregister button {
    text-align: center;
    padding: 2% 3%;
    font-weight: bold;
    color: white;
    width: 250px;
    background-color: black;
    border: 0.5px solid white;
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    min-height: 40px;
    text-align: center;
    vertical-align: middle;
    transition: scale 2s;
}

#buttonregister {
    margin-right: 1%;
}

#buttonregister button:hover {
    transform: scale(1.1);
}


/****Aside****/

aside {
    width: 10vw;
    background-color: black;
    flex-direction: column;
    text-align: left;
    display: flex;
    z-index: 5;
}

#logo img {
    align-self: flex-start;
    margin: 20px 25px;
    width: 150px;
}

#leftbar button {
    text-align: left;
    color: lightslategray;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 100%;
    padding-bottom: 5px;
    line-height: 15px;
}

#leftbar button img {
    width: 23px;
    margin-right: 3px;
}

#leftbar button:hover {
    color: white;
}

.buttonaside {
    align-items: center;
}

.buttonaside button {
    padding-left: 18px;
    padding-top: 3px;
    display: flex;
    align-items: center;
}

.buttonaside button i {
    padding: 5px;
    font-size: 1.1rem;
}

.buttonaside:hover {
    border-left: 2px solid lime;
}

#playlist {
    padding-left: 20px;
    margin-top: 15px;
}

#playlist h2 {
    font-size: 0.9rem;
    color: white;
}

#buttonplaylist {
    font-size: 1.0rem;
}

#buttonplaylist i {
    background-color: white;
    padding: 8px;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-right: 5px;
}

#playlist div ul {
    padding-top: 10px;
    line-height: 30px;
}

#leftbarbottom {
    margin-top: 265px;
}

#leftbarbottom button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 18px;
    text-align: left;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

#leftbarbottom button img {
    width: 23px;
    margin-right: 3px;
}

.btn {
    color: lightslategray;
}

.btn:hover {
    color: rgb(255, 255, 255);
}

#border {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border: 1px solid slategray;
}

#user {
    color: white;
    font-size: 1.1rem;
    align-items: center;
}

#user img {
    border-radius: 50%;
    border: 1px solid white;
    background-color: lightslategray;
}


/****Main****/

main {
    /*flex-grow: 1;*/
    width: 90%;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 80px;
    background-color: #141922;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
    display: inline-block;
    list-style-type: none;
}

nav ul li button {
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: lightslategray;
}

nav ul li button:hover {
    color: white;
    border-bottom: 1px solid lime;
    border-width: 15%;
}

.containersong {
    margin: 2%;
}

.containersong h2 {
    color: white;
}

.containersong p {
    margin-top: 5px;
    color: lightslategray;
    font-weight: bold;
    font-size: 0.8rem;
}

.songgallerya {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 30px;
    gap: 2;
    color: white;
    position: relative;
}

.card:hover .overlay {
    opacity: 0.3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 58px;
    max-height: auto;
    width: 250px;
    opacity: 0.0;
    background-color: black;
}

.overlay2 {
    bottom: 23px;
}

.overlayradius {
    border-radius: 50%;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: white;
    font-size: 100px;
}

.card img {
    max-width: 250px;
    max-height: auto;
    display: block;
}

.songtext div {
    color: lightslategray;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

.songtext h3 {
    text-align: center;
}

.songgalleryb .card {
    margin-right: 2%;
}

.roundimg {
    border-radius: 50%;
}


/****Footer****/

footer {
    background-color: #282828;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

footer:not(#centrcontrol) {
    align-items: center;
}

#leftcontrol {
    width: 10%;
}

#thumbnailsong {
    margin-right: 10%;
}

#thumbnailsong img {
    max-width: 65px;
    max-height: auto;
    padding: 5%;
}

#thumbnailsong div {
    padding-top: 9%;
    font-size: 0.7rem;
    color: lightslategray;
}

#thumbnailsong div h5 {
    color: white;
    font-size: 0.8rem;
}

#leftbtn button {
    padding: 25%;
    color: lightslategray;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
}

#leftbtn button {
    padding: 20%;
    color: lightslategray;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
}

#leftcontrol button:hover {
    color: white;
}

#rightcontrol button:hover {
    color: white;
}

#centrcontrol {
    width: 30%;
    flex-direction: column;
    align-items: center;
}

#centrcontrol button:hover {
    transform: scale(1.3);
}

#centrcontrol button:active {
    color: lime;
}

#centrcontrol div ul li {
    display: inline-block;
    width: 40px;
    height: 30px;
    padding-left: 5%;
    transform: scale(1.5);
}

#centrcontrol div ul {
    justify-content: center;
}

#centrcontrol div ul li:nth-child(3) {
    margin-left: 10px;
    margin-right: 10px;
}

#centrcontrol div ul li button {
    border: none;
    color: white;
    background-color: transparent;
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
}

.progress1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25px;
}

.progress span {
    font-size: 0.8rem;
    color: white;
}

.now:hover {
    background-color: lime;
}

.progress-bar {
    position: relative;
    width: 70%;
    height: 5px;
    background-color: gray;
    vertical-align: 2px;
    border-radius: 3px;
}

.now {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 5px;
    width: 15%;
    background: lightgray;
}

#rightcontrol {
    width: 10%;
}