/*Generals*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.justify {
    justify-content: center;
}


/* content */

.full-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/****Header****/

header {
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 0%;
    left: 0%;
}

#logocontainer {
    margin-left: 1%;
}

#buttonregister {
    margin-right: 1%;
}

#logo {
    margin-right: 3%;
}

#logo img {
    filter: invert(100%);
    height: 35px;
    width: 35px;
}

#logotext {
    color: white;
    font-size: 0.7rem;
    margin-top: 5%;
}

#buttonregister button {
    text-align: center;
    padding: 2% 3%;
    font-weight: bold;
    color: white;
    width: 250px;
    background-color: black;
    border: 0.5px solid white;
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 600;
    justify-content: center;
    min-height: 40px;
    text-align: center;
    vertical-align: middle;
}

#buttonregister button:hover {
    opacity: 0.9;
}


/****Aside****/

aside {
    width: 10%;
    background-color: black;
    padding-top: 80px;
    flex-direction: column;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#leftbar button {
    text-align: left;
    color: lightslategray;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 100%;
    padding-bottom: 5px;
    line-height: 15px;
}

#leftbar button img {
    width: 23px;
    margin-right: 3px;
}

#leftbar button:hover {
    color: white;
}

.buttonaside {
    align-items: center;
}

.buttonaside button {
    padding-left: 18px;
    padding-top: 3px;
    display: flex;
    align-items: center;
}

.buttonaside button i {
    padding: 5px;
    font-size: 1.1rem;
}

.buttonaside:hover {
    border-left: 2px solid lime;
}

#playlist {
    padding-left: 20px;
    margin-top: 15px;
}

#playlist h2 {
    font-size: 0.9rem;
    color: white;
}

#buttonplaylist {
    font-size: 1.0rem;
}

#buttonplaylist i {
    background-color: white;
    padding: 8px;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-right: 5px;
}

#playlist div ul {
    padding-top: 10px;
    line-height: 30px;
}

#leftbarbottom button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 18px;
    text-align: left;
    font-weight: bold;
    border: none;
    background-color: transparent;
    width: 100%;
}

#leftbarbottom button:not(#user) {
    color: lightslategray;
}

#leftbarbottom button i {
    border-radius: 50%;
    border: 0.5px solid lightslategray;
    margin: 5px;
}

#border {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border: 1px solid slategray;
}

#user {
    display: flex;
    color: white;
    font-size: 1.1rem;
    align-items: center;
}

#user i {
    color: white;
    background-color: slategray;
    font-size: 1.8rem;
    font-weight: bold;
}

#leftbarbottom button:hover {
    color: white;
}


/****Main****/

main {
    /*flex-grow: 1;*/
    height: 90vh;
    width: 90%;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 80px;
    background-color: #141922;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
    display: inline-block;
    list-style-type: none;
}

nav ul li button {
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: lightslategray;
}

nav ul li button:hover {
    color: white;
    border-bottom: 1px solid lime;
    border-width: 15%;
}

.containersong {
    margin: 2%;
}

.containersong h2 {
    color: white;
}

.containersong p {
    margin-top: 5px;
    color: lightslategray;
    font-weight: bold;
    font-size: 0.8rem;
}

.songgallerya {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 30px;
    gap: 2;
    color: white;
}

.card img {
    max-width: 250px;
    max-height: auto;
}

.songtext div {
    color: lightslategray;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

.songtext h3 {
    text-align: center;
}

.songgalleryb .card {
    margin-right: 2%;
}

.roundimg {
    border-radius: 50%;
}


/****Footer****/

footer {
    background-color: #282828;
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#leftcontrol {
    width: 10%;
}

#thumbnailsong {
    margin-right: 10%;
}

#thumbnailsong img {
    max-width: 65px;
    max-height: auto;
    padding: 5%;
}

#thumbnailsong div {
    padding-top: 9%;
    font-size: 0.7rem;
    color: lightslategray;
}

#thumbnailsong div h5 {
    color: white;
    font-size: 0.8rem;
}

#leftbtn button {
    padding: 25%;
    color: lightslategray;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
}

#leftcontrol button:hover {
    color: white;
}